@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.estiloPrincipal {
    background-image: url("../../img/background2.png");
    background-size: cover;
}

.contenedorPrincipal2 {
    background-image: url("../../img/background2.png");
    background-size: cover;
}

.estiloContenedor {
    background-color: rgba(0, 0, 0, 0.40);
    height: 50%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.espaciadoContenedor {
    width: 210px;
    height: 210px;
    margin: 5% 12% 5% 10%;
}

.botonSize {
    width: 210px;
    height: 210px;
    background-color: transparent;
    border: none;
    color: transparent;
}

.fondoAgregarOrden {
    background-image: url("https://cdn-icons-png.flaticon.com/512/3979/3979404.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoListarOrden {
    background-image: url("https://cdn-icons-png.flaticon.com/512/942/942748.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoModificarOrden {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1187/1187525.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoListarOrden:hover,
.fondoAgregarOrden:hover,
.fondoModificarOrden:hover {
    background: rgba(52, 93, 206, 0.575);
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    border: black;
    border-style: dashed;
}

.letrasDescarga {
    color: white;
}

.letrasDescarga:hover {
    color: green;
}

.letrasFormularioOrdenes{
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 20px;
}
.contenedorFormularioBajar {
    background-color: rgba(0, 0, 0, 0.40);
    height: 100%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}