@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.contenedorPrincipal{
    background-image: url("https://gradients.mijo-design.com/public/uploads/files/db13.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contenedorFormularioCuadrillas{
    background-color: rgba(0, 0, 0, 0.40);
    height: auto;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.letrasFormulario{
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
}


.fondoAgregarCuadrilla
{
    background-image: url("https://cdn-icons-png.flaticon.com/512/4490/4490381.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoModificarCuadrilla
{
    background-image: url("https://cdn-icons-png.flaticon.com/512/1283/1283187.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoAgregarCuadrilla:hover,
.fondoModificarCuadrilla:hover{
    background: rgba(52, 93, 206, 0.575);
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    border: black;
    border-style:dashed;
}

.hide{
    overflow-x: hidden;
}
.estiloAgregados{
    height: auto;
    background-color: transparent;
    margin-top: 2%;
    border: rgb(211,211,211);
    border-style: solid;
}

.letrasAgregados{
    color: white;
    font-family: 'Raleway';
}

.indentadoAgregados{
    margin-left: 4%;
}