#navbar-brandt {
    padding: 0px; /* firefox bug fix */
    
  }
  #navbar-brandti{
    width: 170px;
    height: auto;
  }
  #responsiveAbout {
    width: 100%;
    height: auto;
  }
  .fotos {
    max-width: 960px;
    margin: 0 auto;
  }