
#link {
  padding: 20px;
}
.Logo {
  background-color: rgb(50, 90, 177);
  color: cornsilk;
  font-style: normal;
  margin: 0px 0px 0px;
}

.tituloh1 {
  font-family: "Brush Script MT";
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
}
#marh1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}
