h1,
h2,
h3,
h4,
h5 {
  color: rgb(0, 0, 0);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.Logo{
background-color:rgb(50, 90, 177);
color:cornsilk;
font-style: normal;
margin: 0px 0px 0px;
}

.tituloh1{
  font-family:"Brush Script MT" ;
  color:rgb(0, 0, 0);
  font-size: 30px;     
  text-align: center; 
  letter-spacing: 5px;     
  margin:10px 0px -50px;
}
.col-md-5{
  font-family:"Times New Roman" ;
  width: 50%;
  margin: 10px 200px 20px;
}

.col-md{
width: 50%;
margin: 50px auto;
border: solid 2px #000;
font: 1em arial, helvetica, sans-serif;
background-color: rgb(255, 255, 255);
text-align: center;
}

.Formularioh2{
  font-family:"Times New Roman" ;
  width: 200%;
  margin: 10px -300px;
  text-align: center;
}

.d-gridgap-5d-md-flexjustify-content-md-center{
  margin: 10px 20px 50px;
}

.btn{
  margin: 10px;
}




