@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
.estiloPrincipal{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGMKgNAjbmCFysZjSxm5XU1Xhh6T0XVrhlafBXCJc7sN78CoOpr4aKort9UwmzkrQf9OA&usqp=CAU");
    background-size: cover;
}

.estiloContenedor{
    background-color: rgba(0, 0, 0, 0.40);
    height: 50%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.espaciadoContenedor{
    width: 210px;
    height: 210px;
    margin: 5% 12% 5% 15%;
}

.botonSize{
    width: 210px;
    height: 210px;
    background-color: transparent;
    border: none;
    color: transparent;
}

.fondoAgregar{
    background-image: url("https://cdn-icons-png.flaticon.com/512/2541/2541984.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoEliminar{
    background-image: url("https://img.icons8.com/stickers/200/000000/filled-trash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    
}

.fondoDescargar{
    background-image: url("https://cdn-icons-png.flaticon.com/512/892/892303.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

.fondoActualizar{
    background-image: url("https://cdn-icons-png.flaticon.com/512/2920/2920100.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    
}

.fondoActualizar:hover,.fondoDescargar:hover,
.fondoEliminar:hover,.fondoAgregar:hover,.fondoActualizar:hover{
    background: rgba(52, 93, 206, 0.575);
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    border: black;
    border-style:dashed;
}

.letrasDescarga{
    color: white;
}

.letrasDescarga:hover{
    color: green;
}

.contenedorFormularioBajar{
    background-color: rgba(0, 0, 0, 0.40);
    height: 100%;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}