.managementsidemenu {
  background-color: rgb(183, 247, 181);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.managementmenu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.managementnav-menu {
  background-color: rgb(183, 247, 181);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.managementnav-menu.active {
  left: 0;
  transition: 350ms;
}

.managementnav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.managementnav-text a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.managementnav-text a:hover {
  background-color: #ffffff;
}

.managementnav-menu-items {
  width: 100%;
}

.managementnavbar-toggle {
  background-color: rgb(183, 247, 181);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 28.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.responsive {
  width: 15%;
  height: auto;
}

.sendMail
{
    background-image: url("https://cdn-icons.flaticon.com/png/512/912/premium/912002.png?token=exp=1646374186~hmac=2c6a113ed26128261d47957adc5a7bd1");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    background-position: center;
    
}


.sendMail:hover{
    background: rgba(52, 93, 206, 0.575);
    color: white;
    font-family: 'Raleway';
    font-weight: bold;
    border: black;
    border-style:dashed;
}